OS="ubuntu"
ARCH="amd64"

PUBKEY_URL="https://raw.githubusercontent.com/Polarstingray/repman-ci/refs/heads/main/ci.pub"

INDEX_URL="https://raw.githubusercontent.com/Polarstingray/packages/refs/heads/main/index/index.json"
INDEX_SHA256_URL="https://raw.githubusercontent.com/Polarstingray/packages/refs/heads/main/index/index.json.sha256"
INDEX_MINISIG_URL="https://raw.githubusercontent.com/Polarstingray/packages/refs/heads/main/index/index.json.minisig"